<li>@Html.ActionLink("Mon compte", "Détail", "Utilisateur")</li>
<li>@Html.ActionLink("Gérer mes avis de recherche", "Index", "AvisDeRecherche")</li>
<li>@Html.ActionLink("Mes Messages", "Index", "Messages")</li>