

<li>@Html.ActionLink("Activer/Désactiver les messages", "Index", "Messages")</li>
<li>@Html.ActionLink("Gérer les types d'animaux", "Index", "TypeAnimals")</li>
<li>@Html.ActionLink("Gérer les utilisateurs", "Index", "Utilisateurs")</li>
<li>@Html.ActionLink("Statistiques", "Index", "Signalements")</li>