<li>@Html.ActionLink("Signaler un animal errant", "Create", "Animal")</li>
<li>@Html.ActionLink("S'inscrire", "Create", "Utilisateurs")</li>
<li>@Html.ActionLink("Se connecter", "Login", "Utilisateurs")</li>
