<li>@Html.ActionLink("Mon compte", "Mine", "Utilisateurs")</li>
<li>@Html.ActionLink("Gérer mes avis de recherche", "Mine", "AvisDeRecherches")</li>
<li>@Html.ActionLink("Mes Messages", "Index", "Messages")</li>